.card
{
    display: inline-block;
    border-radius: 2px;
    background-color: white;
	border:1px solid #f3f3f3;
	color: black;
    text-align: center;
    font-size: 13.37;
    width: 315px;
    height: 175px;
    cursor: pointer;
	resize: both;
	max-width: 100%;
	max-height: 50%;
	overflow: auto;
	box-shadow: 0px 4px 6px 4px rgba(0,0,0,0.2);
}

.effect
{
    transition: all 0.7s;
}

.card:active
{
    color:white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
